
/*Variables CSS*/

/*Importaciones*/

/*Normalizaciones CSS*/
@import url("./normalize.css");
/*Fuentes de iconos*/
@import url("./style-fonts-icons.css");
 /*Header*/
@import url("./Header.css");

/*---------------------------------------------*/
:root{
	/*Colores*/
	--color-gainboro:#DDDFDF;
	--color-moradoclaro:#94787F;
	--color-azulclaro:#759EB8;
	--color-azulverdoso:#9DC5BB;
	--color-azurverdosoclaro:#DFFFD6;
	/*tamaños de fuente*/
}
body, html{
	margin: 0;
	padding: 0;
	font-family: "Arial", Course, Open Sans;
	font-size: 20px;
}
